{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the HOME page</h1>
                <p>This is very cool</p>

                {{/* <img src="/static/images/house.jpeg" height="500" width="900" /> */}}
            </div>
        </div>
    </div>
{{end}}